.cm_thehague {
  background: rgb(255, 248, 220);
  background: linear-gradient(
    180deg,
    rgb(53, 44, 28),
    rgb(237, 221, 203),
    rgb(173, 142, 68),
    rgb(76, 68, 43),
    rgb(161, 135, 85),
    rgb(70, 47, 34),
    rgb(73, 57, 36),
    rgb(99, 86, 83),
    rgb(75, 74, 60),
    rgb(156, 120, 84),
    rgb(126, 99, 91),
    rgb(124, 118, 101),
    rgb(154, 142, 93),
    rgb(118, 103, 66),
    rgb(46, 48, 45),
    rgb(184, 168, 135),
    rgb(88, 89, 84),
    rgb(200, 182, 72),
    rgb(230, 212, 189),
    rgb(64, 54, 42),
    rgb(81, 75, 48),
    rgb(140, 127, 76),
    rgb(78, 72, 78),
    rgb(89, 64, 49),
    rgb(175, 171, 178),
    rgb(183, 185, 144),
    rgb(112, 81, 54),
    rgb(135, 113, 64)
  );
}

.cm_drenthe {
  background: rgb(255, 248, 220);
  background: linear-gradient(
    180deg,
    rgb(82, 83, 83),
    rgb(80, 86, 71),
    rgb(168, 120, 70)
  );
}

.cm_amsterdam {
  background: rgb(255, 248, 220);
  background: linear-gradient(
    180deg,
    rgb(162, 167, 156),
    rgb(84, 87, 74),
    rgb(126, 128, 111),
    rgb(103, 97, 70)
  );
}

.cm_antwerp {
  background: rgb(255, 248, 220);
  background: linear-gradient(
    180deg,
    rgb(126, 125, 106),
    rgb(39, 37, 24),
    rgb(66, 67, 52),
    rgb(63, 66, 58),
    rgb(49, 48, 40),
    rgb(31, 29, 16),
    rgb(72, 85, 83)
  );
}

.cm_nuenen {
  background: rgb(255, 248, 220);
  background: linear-gradient(
    180deg,
    rgb(65, 69, 61),
    rgb(69, 60, 52),
    rgb(152, 173, 161),
    rgb(61, 59, 31),
    rgb(193, 167, 166),
    rgb(53, 53, 51),
    rgb(202, 199, 206),
    rgb(176, 154, 125),
    rgb(58, 56, 52),
    rgb(58, 54, 36),
    rgb(54, 48, 37),
    rgb(55, 61, 54),
    rgb(203, 181, 157),
    rgb(84, 76, 65),
    rgb(85, 79, 66),
    rgb(69, 55, 50),
    rgb(71, 57, 46),
    rgb(206, 206, 211),
    rgb(86, 85, 65),
    rgb(91, 98, 77),
    rgb(112, 103, 64),
    rgb(213, 213, 182),
    rgb(174, 150, 110),
    rgb(45, 49, 37),
    rgb(101, 91, 72),
    rgb(205, 194, 181),
    rgb(105, 88, 64),
    rgb(80, 73, 60),
    rgb(63, 62, 41),
    rgb(66, 68, 55),
    rgb(70, 67, 48),
    rgb(79, 72, 80),
    rgb(64, 63, 51),
    rgb(90, 71, 58),
    rgb(68, 66, 54),
    rgb(79, 69, 58),
    rgb(91, 86, 95),
    rgb(80, 70, 53),
    rgb(42, 40, 24),
    rgb(42, 40, 28),
    rgb(63, 61, 52),
    rgb(80, 70, 56),
    rgb(60, 56, 62),
    rgb(36, 44, 24),
    rgb(109, 85, 57),
    rgb(79, 65, 58),
    rgb(199, 177, 119),
    rgb(59, 52, 47),
    rgb(82, 74, 66),
    rgb(59, 50, 49),
    rgb(46, 43, 31),
    rgb(72, 58, 40),
    rgb(30, 26, 19),
    rgb(25, 32, 32),
    rgb(101, 91, 101),
    rgb(65, 54, 28),
    rgb(46, 45, 25),
    rgb(20, 26, 16),
    rgb(24, 29, 20),
    rgb(70, 63, 72),
    rgb(39, 41, 30),
    rgb(60, 60, 54),
    rgb(38, 45, 46),
    rgb(61, 60, 55),
    rgb(37, 37, 27),
    rgb(172, 167, 155),
    rgb(119, 123, 92),
    rgb(85, 76, 63),
    rgb(138, 98, 75),
    rgb(88, 72, 61),
    rgb(97, 86, 75),
    rgb(60, 51, 50),
    rgb(78, 71, 62),
    rgb(52, 49, 49),
    rgb(78, 88, 88),
    rgb(86, 80, 56),
    rgb(85, 64, 50),
    rgb(46, 45, 45),
    rgb(64, 57, 63),
    rgb(75, 65, 72),
    rgb(62, 52, 48),
    rgb(69, 53, 50),
    rgb(58, 57, 53),
    rgb(196, 188, 107),
    rgb(81, 74, 56),
    rgb(51, 47, 47),
    rgb(73, 67, 56),
    rgb(21, 25, 16),
    rgb(58, 54, 34),
    rgb(74, 62, 50),
    rgb(132, 93, 73),
    rgb(63, 53, 50),
    rgb(47, 48, 31),
    rgb(51, 46, 44),
    rgb(63, 55, 62),
    rgb(43, 40, 30),
    rgb(54, 49, 60),
    rgb(83, 74, 60),
    rgb(84, 62, 55),
    rgb(21, 28, 16),
    rgb(22, 21, 6),
    rgb(34, 38, 40),
    rgb(77, 70, 78),
    rgb(136, 139, 110),
    rgb(24, 20, 11),
    rgb(23, 24, 11),
    rgb(29, 35, 21),
    rgb(76, 65, 53),
    rgb(70, 72, 63),
    rgb(25, 33, 35),
    rgb(32, 40, 22),
    rgb(109, 91, 66),
    rgb(29, 34, 26),
    rgb(23, 33, 40),
    rgb(117, 106, 75),
    rgb(68, 63, 56),
    rgb(190, 160, 120),
    rgb(113, 89, 48),
    rgb(204, 149, 70),
    rgb(43, 37, 27),
    rgb(30, 35, 22),
    rgb(17, 19, 11),
    rgb(83, 80, 58),
    rgb(66, 63, 45),
    rgb(34, 37, 24),
    rgb(53, 51, 42),
    rgb(67, 71, 61),
    rgb(47, 51, 40),
    rgb(69, 61, 53),
    rgb(24, 31, 14),
    rgb(79, 79, 59),
    rgb(62, 50, 28),
    rgb(120, 99, 82),
    rgb(125, 88, 61),
    rgb(44, 55, 43),
    rgb(71, 65, 51),
    rgb(85, 78, 57),
    rgb(61, 49, 21),
    rgb(98, 86, 50),
    rgb(221, 219, 225),
    rgb(58, 55, 42),
    rgb(126, 101, 63),
    rgb(73, 55, 30),
    rgb(138, 109, 78),
    rgb(104, 105, 64),
    rgb(215, 214, 222),
    rgb(64, 60, 53),
    rgb(74, 66, 52),
    rgb(91, 72, 51),
    rgb(158, 152, 122),
    rgb(62, 61, 46),
    rgb(80, 72, 39),
    rgb(73, 64, 73),
    rgb(57, 60, 55),
    rgb(141, 121, 68),
    rgb(58, 56, 48),
    rgb(66, 65, 51),
    rgb(65, 54, 45),
    rgb(44, 38, 21),
    rgb(64, 50, 29),
    rgb(37, 37, 24),
    rgb(66, 63, 53),
    rgb(41, 42, 23),
    rgb(56, 52, 29),
    rgb(82, 68, 48),
    rgb(32, 31, 21),
    rgb(41, 41, 23),
    rgb(31, 35, 32),
    rgb(25, 28, 16),
    rgb(24, 26, 16),
    rgb(48, 35, 22),
    rgb(78, 69, 53),
    rgb(62, 59, 53),
    rgb(111, 101, 66),
    rgb(52, 51, 33),
    rgb(29, 24, 13),
    rgb(53, 50, 27),
    rgb(54, 50, 46),
    rgb(72, 62, 52),
    rgb(154, 157, 98),
    rgb(89, 80, 88),
    rgb(60, 48, 42),
    rgb(75, 68, 77),
    rgb(146, 107, 74),
    rgb(73, 72, 48),
    rgb(130, 97, 74),
    rgb(45, 36, 17),
    rgb(109, 93, 53),
    rgb(75, 68, 74),
    rgb(57, 62, 37),
    rgb(79, 70, 40),
    rgb(82, 87, 45),
    rgb(73, 62, 37),
    rgb(112, 86, 67)
  );
}

.cm_paris {
  background: rgb(255, 248, 220);
  background: linear-gradient(
    180deg,
    rgb(56, 49, 26),
    rgb(97, 130, 148),
    rgb(130, 139, 140),
    rgb(116, 128, 117),
    rgb(108, 132, 138),
    rgb(63, 87, 106),
    rgb(49, 76, 95),
    rgb(143, 141, 127),
    rgb(87, 92, 95),
    rgb(85, 113, 118),
    rgb(33, 58, 70),
    rgb(51, 44, 33),
    rgb(30, 31, 18),
    rgb(85, 78, 86),
    rgb(68, 71, 62),
    rgb(42, 42, 31),
    rgb(51, 61, 50),
    rgb(133, 127, 135),
    rgb(109, 114, 84),
    rgb(128, 103, 81),
    rgb(96, 95, 87),
    rgb(196, 200, 184),
    rgb(155, 155, 147),
    rgb(209, 200, 168),
    rgb(141, 114, 79),
    rgb(106, 91, 78),
    rgb(111, 93, 76),
    rgb(70, 86, 71),
    rgb(70, 73, 59),
    rgb(104, 89, 70),
    rgb(197, 186, 157),
    rgb(153, 123, 84),
    rgb(162, 155, 127),
    rgb(112, 106, 115),
    rgb(97, 83, 69),
    rgb(95, 91, 61),
    rgb(188, 184, 192),
    rgb(139, 137, 131),
    rgb(200, 201, 190),
    rgb(191, 182, 158),
    rgb(128, 102, 74),
    rgb(73, 67, 75),
    rgb(63, 58, 54),
    rgb(76, 69, 56),
    rgb(66, 60, 66),
    rgb(71, 63, 55),
    rgb(91, 81, 57),
    rgb(84, 68, 58),
    rgb(86, 82, 69),
    rgb(46, 44, 34),
    rgb(31, 42, 43),
    rgb(113, 85, 56),
    rgb(29, 40, 33),
    rgb(78, 75, 69),
    rgb(103, 105, 93),
    rgb(180, 148, 79),
    rgb(69, 53, 34),
    rgb(71, 68, 58),
    rgb(114, 100, 76),
    rgb(132, 96, 64),
    rgb(98, 97, 94),
    rgb(111, 116, 99),
    rgb(97, 92, 79),
    rgb(46, 44, 36),
    rgb(66, 60, 38),
    rgb(44, 26, 18),
    rgb(151, 100, 80),
    rgb(133, 130, 116),
    rgb(118, 91, 75),
    rgb(60, 59, 53),
    rgb(73, 68, 75),
    rgb(39, 37, 24),
    rgb(123, 100, 95),
    rgb(40, 45, 26),
    rgb(92, 57, 42),
    rgb(64, 51, 39),
    rgb(102, 69, 42),
    rgb(202, 208, 213),
    rgb(198, 175, 150),
    rgb(183, 148, 61),
    rgb(78, 75, 36),
    rgb(193, 179, 152),
    rgb(139, 136, 115),
    rgb(127, 120, 84),
    rgb(190, 187, 193),
    rgb(221, 218, 224),
    rgb(121, 144, 146),
    rgb(156, 166, 174),
    rgb(179, 181, 171),
    rgb(156, 160, 169),
    rgb(111, 116, 92),
    rgb(68, 63, 61),
    rgb(40, 29, 27),
    rgb(43, 41, 33),
    rgb(52, 33, 24),
    rgb(65, 51, 26),
    rgb(61, 57, 63),
    rgb(108, 96, 84),
    rgb(133, 135, 121),
    rgb(54, 52, 42),
    rgb(67, 59, 51),
    rgb(37, 33, 23),
    rgb(150, 138, 107),
    rgb(145, 109, 66),
    rgb(134, 136, 103),
    rgb(90, 103, 106),
    rgb(132, 134, 135),
    rgb(96, 107, 100),
    rgb(148, 121, 99),
    rgb(159, 148, 133),
    rgb(172, 157, 104),
    rgb(112, 91, 69),
    rgb(174, 173, 155),
    rgb(122, 119, 54),
    rgb(114, 133, 117),
    rgb(133, 133, 129),
    rgb(131, 126, 105),
    rgb(182, 149, 65),
    rgb(190, 166, 110),
    rgb(154, 145, 109),
    rgb(136, 131, 107),
    rgb(161, 126, 76),
    rgb(39, 40, 29),
    rgb(63, 55, 46),
    rgb(134, 118, 88),
    rgb(65, 72, 77),
    rgb(121, 118, 98),
    rgb(192, 193, 178),
    rgb(135, 130, 105),
    rgb(187, 179, 158),
    rgb(177, 179, 165),
    rgb(131, 135, 122),
    rgb(195, 199, 208),
    rgb(198, 208, 200),
    rgb(181, 171, 127),
    rgb(178, 185, 175),
    rgb(87, 93, 76),
    rgb(133, 125, 108),
    rgb(48, 61, 54),
    rgb(128, 106, 81),
    rgb(162, 155, 117),
    rgb(181, 177, 145),
    rgb(156, 160, 137),
    rgb(141, 151, 168),
    rgb(149, 146, 88),
    rgb(73, 85, 73),
    rgb(147, 153, 124),
    rgb(136, 160, 153),
    rgb(170, 171, 137),
    rgb(83, 97, 66),
    rgb(77, 112, 44),
    rgb(150, 144, 99),
    rgb(119, 127, 76),
    rgb(105, 86, 60),
    rgb(152, 172, 162),
    rgb(184, 146, 97),
    rgb(140, 163, 172),
    rgb(140, 140, 118),
    rgb(123, 128, 107),
    rgb(143, 154, 143),
    rgb(95, 109, 79),
    rgb(151, 142, 124),
    rgb(158, 144, 83),
    rgb(131, 149, 158),
    rgb(136, 143, 121),
    rgb(178, 171, 129),
    rgb(122, 115, 101),
    rgb(116, 119, 117),
    rgb(47, 63, 57),
    rgb(166, 108, 73),
    rgb(142, 135, 89),
    rgb(66, 42, 28),
    rgb(67, 68, 54),
    rgb(106, 95, 52),
    rgb(56, 56, 66),
    rgb(74, 80, 80),
    rgb(47, 56, 52),
    rgb(94, 101, 99),
    rgb(67, 80, 85),
    rgb(55, 51, 53),
    rgb(117, 113, 112),
    rgb(87, 89, 59),
    rgb(188, 162, 106),
    rgb(196, 174, 139),
    rgb(162, 156, 111),
    rgb(79, 96, 67),
    rgb(104, 106, 90),
    rgb(177, 150, 139),
    rgb(105, 116, 96),
    rgb(76, 62, 50),
    rgb(149, 134, 77),
    rgb(99, 107, 84),
    rgb(139, 135, 86),
    rgb(138, 143, 110),
    rgb(194, 182, 183),
    rgb(193, 202, 177),
    rgb(152, 144, 127),
    rgb(130, 133, 119),
    rgb(146, 140, 94),
    rgb(95, 94, 66),
    rgb(146, 149, 132),
    rgb(70, 60, 43),
    rgb(136, 111, 64),
    rgb(198, 159, 99),
    rgb(173, 172, 133),
    rgb(60, 67, 70),
    rgb(72, 69, 56),
    rgb(143, 127, 71),
    rgb(166, 156, 164),
    rgb(155, 154, 145),
    rgb(172, 144, 45),
    rgb(181, 179, 134),
    rgb(207, 177, 123),
    rgb(66, 60, 47),
    rgb(72, 90, 77),
    rgb(126, 113, 86),
    rgb(132, 121, 77),
    rgb(152, 146, 114),
    rgb(101, 125, 143),
    rgb(162, 154, 129),
    rgb(100, 103, 95),
    rgb(77, 78, 74),
    rgb(88, 96, 96),
    rgb(166, 145, 106),
    rgb(146, 123, 78),
    rgb(152, 152, 129)
  );
}

.cm_arles {
  background: rgb(255, 248, 220);
  background: linear-gradient(
    180deg,
    rgb(171, 175, 153),
    rgb(184, 195, 192),
    rgb(162, 149, 118),
    rgb(184, 188, 178),
    rgb(176, 175, 152),
    rgb(189, 178, 167),
    rgb(207, 184, 146),
    rgb(177, 159, 143),
    rgb(186, 174, 118),
    rgb(166, 145, 139),
    rgb(154, 143, 83),
    rgb(102, 110, 65),
    rgb(157, 158, 119),
    rgb(152, 160, 148),
    rgb(135, 138, 105),
    rgb(130, 127, 71),
    rgb(171, 177, 137),
    rgb(114, 110, 97),
    rgb(135, 141, 114),
    rgb(135, 138, 110),
    rgb(101, 112, 91),
    rgb(162, 161, 143),
    rgb(124, 109, 79),
    rgb(172, 163, 108),
    rgb(157, 162, 152),
    rgb(123, 121, 86),
    rgb(174, 158, 93),
    rgb(142, 164, 156),
    rgb(113, 79, 36),
    rgb(151, 163, 146),
    rgb(126, 132, 70),
    rgb(116, 115, 91),
    rgb(105, 164, 201),
    rgb(196, 199, 198),
    rgb(94, 116, 79),
    rgb(178, 193, 193),
    rgb(193, 180, 140),
    rgb(175, 179, 144),
    rgb(178, 170, 122),
    rgb(81, 107, 81),
    rgb(141, 130, 73),
    rgb(191, 153, 71),
    rgb(162, 141, 74),
    rgb(126, 124, 105),
    rgb(113, 138, 142),
    rgb(127, 129, 120),
    rgb(155, 157, 141),
    rgb(182, 170, 121),
    rgb(68, 93, 92),
    rgb(184, 156, 98),
    rgb(162, 148, 142),
    rgb(146, 144, 118),
    rgb(191, 155, 73),
    rgb(180, 159, 78),
    rgb(130, 128, 76),
    rgb(219, 174, 96),
    rgb(93, 110, 83),
    rgb(162, 119, 71),
    rgb(177, 144, 70),
    rgb(203, 211, 202),
    rgb(55, 81, 64),
    rgb(133, 93, 74),
    rgb(108, 106, 55),
    rgb(196, 201, 183),
    rgb(80, 96, 88),
    rgb(139, 137, 109),
    rgb(126, 126, 78),
    rgb(128, 111, 88),
    rgb(123, 117, 69),
    rgb(179, 207, 180),
    rgb(28, 60, 80),
    rgb(156, 195, 171),
    rgb(138, 145, 108),
    rgb(75, 93, 107),
    rgb(134, 122, 108),
    rgb(153, 138, 109),
    rgb(144, 131, 76),
    rgb(162, 159, 131),
    rgb(121, 133, 84),
    rgb(185, 156, 45),
    rgb(52, 53, 61),
    rgb(160, 116, 59),
    rgb(168, 149, 47),
    rgb(196, 158, 98),
    rgb(184, 192, 180),
    rgb(138, 139, 79),
    rgb(109, 118, 121),
    rgb(29, 41, 36),
    rgb(165, 142, 108),
    rgb(204, 174, 65),
    rgb(173, 155, 71),
    rgb(173, 148, 92),
    rgb(153, 135, 89),
    rgb(49, 49, 56),
    rgb(117, 98, 54),
    rgb(147, 137, 115),
    rgb(61, 78, 33),
    rgb(115, 107, 79),
    rgb(107, 178, 129),
    rgb(120, 136, 89),
    rgb(83, 101, 76),
    rgb(134, 125, 82),
    rgb(120, 119, 105),
    rgb(149, 144, 103),
    rgb(54, 87, 103),
    rgb(101, 121, 89),
    rgb(79, 79, 76),
    rgb(139, 86, 44),
    rgb(148, 138, 92),
    rgb(111, 99, 75),
    rgb(139, 167, 110),
    rgb(77, 92, 77),
    rgb(148, 137, 111),
    rgb(112, 114, 91),
    rgb(124, 118, 97),
    rgb(142, 122, 60),
    rgb(157, 142, 106),
    rgb(100, 95, 102),
    rgb(131, 119, 88),
    rgb(177, 159, 107),
    rgb(193, 181, 161),
    rgb(131, 119, 92),
    rgb(123, 113, 72),
    rgb(199, 170, 117),
    rgb(163, 131, 82),
    rgb(42, 49, 40),
    rgb(225, 193, 56),
    rgb(108, 85, 44),
    rgb(99, 90, 82),
    rgb(57, 61, 53),
    rgb(57, 77, 75),
    rgb(51, 67, 44),
    rgb(155, 159, 93),
    rgb(183, 174, 65),
    rgb(185, 152, 27),
    rgb(158, 173, 91),
    rgb(66, 96, 66),
    rgb(163, 139, 56),
    rgb(148, 152, 74),
    rgb(181, 128, 46),
    rgb(47, 53, 56),
    rgb(109, 111, 72),
    rgb(118, 119, 77),
    rgb(94, 89, 52),
    rgb(179, 194, 147),
    rgb(186, 181, 137),
    rgb(190, 168, 94),
    rgb(214, 188, 53),
    rgb(187, 191, 55),
    rgb(82, 95, 82),
    rgb(129, 128, 101),
    rgb(49, 58, 44),
    rgb(99, 90, 78),
    rgb(50, 62, 37),
    rgb(180, 130, 89),
    rgb(180, 176, 113),
    rgb(71, 92, 77),
    rgb(203, 117, 66),
    rgb(57, 74, 67),
    rgb(75, 70, 78),
    rgb(184, 160, 103),
    rgb(73, 111, 82),
    rgb(61, 82, 52),
    rgb(149, 168, 120),
    rgb(204, 183, 62),
    rgb(170, 148, 30),
    rgb(146, 126, 73),
    rgb(34, 54, 37),
    rgb(36, 60, 42),
    rgb(120, 112, 67),
    rgb(68, 77, 49),
    rgb(46, 123, 77),
    rgb(126, 115, 61),
    rgb(61, 77, 61),
    rgb(121, 124, 87),
    rgb(97, 106, 72),
    rgb(114, 123, 95),
    rgb(94, 107, 75),
    rgb(195, 188, 57),
    rgb(133, 144, 128),
    rgb(103, 120, 86),
    rgb(140, 145, 135),
    rgb(120, 118, 92),
    rgb(145, 126, 84),
    rgb(65, 72, 59),
    rgb(159, 148, 108)
  );
}

.cm_saintremy {
  background: rgb(255, 248, 220);
  background: linear-gradient(
    180deg,
    rgb(140, 136, 100),
    rgb(102, 122, 105),
    rgb(69, 90, 75),
    rgb(98, 95, 105),
    rgb(71, 98, 88),
    rgb(95, 144, 101),
    rgb(110, 116, 86),
    rgb(119, 126, 84),
    rgb(132, 146, 124),
    rgb(136, 150, 141),
    rgb(133, 152, 97),
    rgb(126, 142, 93),
    rgb(76, 96, 126),
    rgb(81, 109, 101),
    rgb(64, 81, 56),
    rgb(66, 80, 53),
    rgb(47, 53, 32),
    rgb(54, 71, 51),
    rgb(180, 153, 77),
    rgb(183, 194, 196),
    rgb(135, 144, 104),
    rgb(95, 121, 110),
    rgb(104, 115, 103),
    rgb(148, 125, 94),
    rgb(68, 83, 72),
    rgb(130, 124, 82),
    rgb(65, 71, 54),
    rgb(143, 147, 158),
    rgb(60, 69, 44),
    rgb(128, 134, 124),
    rgb(50, 84, 97),
    rgb(137, 129, 111),
    rgb(193, 204, 198),
    rgb(148, 155, 140),
    rgb(139, 163, 148),
    rgb(180, 171, 104),
    rgb(151, 152, 123),
    rgb(111, 112, 90),
    rgb(41, 64, 54),
    rgb(185, 165, 151),
    rgb(119, 159, 196),
    rgb(132, 132, 84),
    rgb(149, 151, 135),
    rgb(144, 141, 108),
    rgb(128, 117, 37),
    rgb(124, 118, 82),
    rgb(138, 132, 80),
    rgb(140, 160, 138),
    rgb(154, 151, 129),
    rgb(130, 130, 117),
    rgb(125, 167, 148),
    rgb(152, 177, 165),
    rgb(162, 161, 118),
    rgb(203, 189, 110),
    rgb(149, 130, 97),
    rgb(113, 101, 95),
    rgb(143, 133, 98),
    rgb(139, 137, 123),
    rgb(170, 151, 118),
    rgb(100, 140, 142),
    rgb(125, 110, 81),
    rgb(111, 103, 84),
    rgb(134, 136, 107),
    rgb(118, 108, 74),
    rgb(108, 109, 88),
    rgb(91, 111, 108),
    rgb(61, 66, 69),
    rgb(61, 58, 52),
    rgb(149, 138, 118),
    rgb(109, 101, 87),
    rgb(106, 111, 116),
    rgb(171, 135, 86),
    rgb(118, 107, 78),
    rgb(127, 138, 119),
    rgb(145, 144, 80),
    rgb(99, 92, 74),
    rgb(132, 117, 97),
    rgb(161, 155, 128),
    rgb(113, 91, 67),
    rgb(189, 127, 91),
    rgb(84, 83, 62),
    rgb(148, 113, 79),
    rgb(131, 104, 74),
    rgb(72, 78, 57),
    rgb(116, 112, 85),
    rgb(127, 116, 102),
    rgb(149, 131, 88),
    rgb(169, 161, 124),
    rgb(117, 112, 97),
    rgb(128, 117, 89),
    rgb(165, 164, 122),
    rgb(123, 119, 85),
    rgb(103, 108, 99),
    rgb(133, 130, 102),
    rgb(89, 79, 56),
    rgb(108, 99, 80),
    rgb(142, 138, 100),
    rgb(115, 103, 62),
    rgb(118, 106, 72),
    rgb(145, 140, 126),
    rgb(147, 141, 149),
    rgb(131, 130, 103),
    rgb(131, 130, 103),
    rgb(131, 130, 103),
    rgb(131, 130, 103),
    rgb(131, 130, 103),
    rgb(131, 130, 103),
    rgb(131, 130, 103),
    rgb(131, 130, 103),
    rgb(153, 137, 117),
    rgb(106, 114, 107),
    rgb(162, 148, 143),
    rgb(66, 63, 69),
    rgb(164, 157, 114),
    rgb(125, 110, 73),
    rgb(165, 119, 54),
    rgb(190, 171, 137),
    rgb(180, 130, 55),
    rgb(152, 165, 151),
    rgb(144, 150, 103),
    rgb(190, 199, 181),
    rgb(86, 106, 91),
    rgb(151, 156, 129),
    rgb(67, 70, 47),
    rgb(124, 161, 159),
    rgb(198, 173, 128),
    rgb(135, 138, 121),
    rgb(186, 158, 134),
    rgb(216, 225, 191),
    rgb(186, 174, 149),
    rgb(172, 158, 122),
    rgb(110, 112, 91),
    rgb(178, 175, 163),
    rgb(148, 163, 162),
    rgb(149, 126, 98),
    rgb(143, 149, 109),
    rgb(84, 97, 66),
    rgb(55, 66, 51),
    rgb(97, 104, 66),
    rgb(176, 172, 130),
    rgb(149, 142, 100),
    rgb(118, 131, 89),
    rgb(183, 209, 172),
    rgb(185, 176, 80),
    rgb(223, 219, 205),
    rgb(142, 149, 110),
    rgb(190, 211, 186),
    rgb(181, 195, 116),
    rgb(66, 64, 61)
  );
}

.cm_auverssuroise {
  background: rgb(255, 248, 220);
  background: linear-gradient(
    180deg,
    rgb(141, 156, 137),
    rgb(102, 113, 96),
    rgb(108, 121, 106),
    rgb(119, 127, 87),
    rgb(102, 111, 92),
    rgb(79, 100, 80),
    rgb(135, 126, 86),
    rgb(115, 111, 79),
    rgb(157, 172, 99),
    rgb(119, 132, 148),
    rgb(141, 150, 101),
    rgb(138, 153, 135),
    rgb(127, 136, 100),
    rgb(163, 149, 93),
    rgb(118, 128, 119),
    rgb(138, 137, 135),
    rgb(118, 116, 96),
    rgb(72, 76, 111),
    rgb(58, 60, 58),
    rgb(121, 134, 81),
    rgb(63, 81, 103),
    rgb(128, 130, 110),
    rgb(150, 156, 98),
    rgb(77, 88, 59),
    rgb(130, 147, 93),
    rgb(136, 150, 109),
    rgb(59, 72, 61),
    rgb(108, 107, 66),
    rgb(130, 142, 108),
    rgb(150, 150, 97),
    rgb(179, 169, 133),
    rgb(181, 180, 130),
    rgb(165, 171, 122),
    rgb(116, 123, 99),
    rgb(39, 52, 71),
    rgb(148, 169, 130),
    rgb(74, 73, 68),
    rgb(84, 115, 86),
    rgb(69, 76, 48),
    rgb(120, 125, 91),
    rgb(196, 198, 152),
    rgb(177, 218, 194),
    rgb(146, 130, 110),
    rgb(105, 111, 93),
    rgb(179, 182, 138),
    rgb(124, 86, 37),
    rgb(107, 115, 101),
    rgb(121, 128, 105),
    rgb(141, 131, 99),
    rgb(153, 168, 138),
    rgb(215, 197, 76),
    rgb(151, 160, 130),
    rgb(132, 130, 70),
    rgb(131, 134, 77),
    rgb(134, 134, 139),
    rgb(110, 124, 99),
    rgb(114, 65, 41),
    rgb(181, 159, 133),
    rgb(90, 123, 144),
    rgb(148, 145, 76),
    rgb(155, 154, 139),
    rgb(146, 143, 151),
    rgb(158, 175, 153),
    rgb(136, 139, 102),
    rgb(141, 153, 90),
    rgb(147, 164, 84),
    rgb(151, 163, 74),
    rgb(119, 114, 84),
    rgb(102, 113, 74),
    rgb(134, 129, 94),
    rgb(132, 111, 43),
    rgb(141, 151, 112),
    rgb(154, 157, 137),
    rgb(138, 145, 103),
    rgb(193, 171, 146),
    rgb(177, 142, 91),
    rgb(188, 172, 136)
  );
}
