/* Index
Fonts in use*/
@font-face {
  font-family: "Quosm-Bold";
  src: url(fonts/Quosm-Bold.ttf);
}
@font-face {
  font-family: "Quosm";
  src: url(fonts/Quosm.ttf);
}
@font-face {
  font-family: "Manus";
  src: url(fonts/Manus.ttf);
}

/* Index
Default settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Index
Body */
body {
  background: url(../img/miscellaneous/aa_opening_background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Quosm";
  overflow-x: hidden;
}

/* Index
Header */
li,
a {
  font-family: "Quosm";
  font-size: 16px;
  text-decoration: none;
  margin: 10px;
}

header {
  background-color: cornsilk;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
}

.header_title {
  font-family: "Quosm-Bold";
  color: rgb(54, 83, 61);
  cursor: pointer;
  margin-right: auto;
}

.header_title a {
  font-family: "Quosm-Bold";
  color: rgb(54, 83, 61);
  cursor: pointer;
  margin-right: auto;
}

.nav_links {
  list-style: none;
  color: rgb(54, 83, 61);
  cursor: pointer;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  color: rgb(54, 83, 61);
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: rgb(243, 186, 28);
}

.linktocolormap {
  font-family: "Quosm-Bold";
  color: rgb(54, 83, 61);
  text-align: center;
}

.linktocolormap a {
  font-family: "Quosm-Bold";
  color: rgb(54, 83, 61);
  cursor: pointer;
  text-align: center;
}

.linktocolors {
  position: absolute;
  bottom: 20px;
  font-family: "Quosm-Bold";
  color: rgb(54, 83, 61);
  text-align: center;
}

.linktocolors a {
  font-family: "Quosm-Bold";
  color: rgb(54, 83, 61);
  cursor: pointer;
  text-align: center;
}

.linktoabout {
  bottom: 20px;
  font-family: "Quosm-Bold";
  color: cornsilk;
  text-align: center;
}

.linktoabout a {
  font-family: "Quosm-Bold";
  color: cornsilk;
  cursor: pointer;
  text-align: center;
}

/* Index
Text layout */
h1.quote {
  font-family: "Manus";
  font-size: 70px;
  color: rgb(50, 84, 97);
  /* Most dominant blue from painting: (50, 84, 97)*/
  line-height: 30px;
  text-align: center;
  letter-spacing: 4px;
}

h1.title {
  font-family: "Quosm-Bold";
  font-size: 50px;
  color: rgb(50, 84, 97);
  text-align: center;
  line-height: 5px;
}

h2.title {
  font-family: "Quosm-Bold";
  font-size: 25px;
  color: rgb(54, 83, 61);
}

h3.title {
  font-family: "Quosm-Bold";
  font-size: 15px;
  color: rgba(54, 83, 61, 0.3);
  text-align: center;
  line-height: 25px;
}

p {
  font-family: "Quosm";
  font-size: 15px;
  color: rgb(54, 83, 61);
}

p.quote {
  font-family: "Manus";
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2px;
}

p.flow {
  font-family: "Quosm";
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

/* Index
Hierarchical section layout */
#home {
  background: rgb(255, 248, 220);
  background: linear-gradient(
    180deg,
    rgba(255, 248, 220, 0) 0%,
    rgba(255, 248, 220, 0.5) 82%
  );
}

.time {
  background: rgb(255, 248, 220);
  align-items: center;
}

.stackedbarchart {
  background: rgba(175, 171, 178, 0.95);
  align-items: center;
  align-content: center;
  display: flex;
}

.nomad {
  position: relative;
  height: 200vh;
  /*background-image: url(../img/miscellaneous/ae_yellowhouse.jpg);*/
  background-color: rgba(81, 109, 101, 0.95);
}

.seasons {
  position: relative;
  background-color: rgb(175, 171, 178);
}

/* Index
Page flows */
#flow01 {
  background: rgb(255, 248, 220);
  background: linear-gradient(
    180deg,
    rgba(255, 248, 220, 0.5) 25%,
    rgba(255, 248, 220, 1) 100%
  );
}

.flow-02 {
  background: rgb(255, 248, 220);
  background: linear-gradient(
    180deg,
    rgba(255, 248, 220, 1) 0%,
    rgba(175, 171, 178, 0.95)
  );
}

.flow-03 {
  background: rgb(175, 171, 178);
  background: linear-gradient(
    180deg,
    rgba(175, 171, 178, 0.95),
    rgba(81, 109, 101, 0.95)
  );
}

.flow-04 {
  background-color: rgb(81, 109, 101);
  background: linear-gradient(
    180deg,
    rgba(81, 109, 101, 0.95),
    rgb(183, 185, 144) 90%
  );
}

.flow-05 {
  background: rgb(255, 248, 220);
  background: linear-gradient(0deg, rgb(200, 182, 72), rgb(183, 185, 144) 100%);
}

#flow-06 {
  background: rgb(53, 44, 28);
  background: linear-gradient(0deg, rgb(53, 44, 28), cornsilk);
}

.flow-07 {
  background: rgb(188, 172, 136);
  background: linear-gradient(
    180deg,
    rgba(188, 172, 136, 1) 30%,
    rgba(188, 172, 136, 0.7)
  );
}

.flow-08 {
  height: 10vh;
  background: rgb(135, 113, 64);
  background: linear-gradient(180deg, rgb(135, 113, 64), rgb(82, 83, 83));
}

/* Index
Floating boxes */
.box {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opening_portrait {
  width: 300px;
  height: 300px;
  background: url(../img/miscellaneous/ac_portrait_opening.jpg) no-repeat center /
    cover;
  border-radius: 50%;
  position: absolute;
  margin-bottom: 200px;
}

.opening_text {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  margin-top: 250px;
}

.opening_text a {
  font-size: 12px;
  text-decoration: none;
  text-transform: lowercase;
  background-color: rgb(243, 186, 28);
  color: rgb(54, 83, 61);
  padding: 10px 10px;
  align-items: center;
  display: inline-block;
  text-align: center;
}

.about_visual {
  position: absolute;
  padding: 10px;
  width: 300px;
  height: 220px;
  background: url(../img/about/vangoghmuseum-s0011V1962-800.jpg) no-repeat
    center / cover;
  border-radius: 8px;
  right: 55%;
}

.about_text {
  position: absolute;
  width: 400px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  margin-left: 331px;
  margin-top: 0px;
}

#nomad_svg {
  height: 110vh;
  width: auto;
  align-items: center;
  align-content: center;
}

.stackedbarchart_box1 {
  position: absolute;
  width: 250px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  margin-left: 331px;
  margin-top: 0px;
}

.stackedbarchart_box2 {
  position: absolute;
  width: 250px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  margin-left: 400px;
  margin-top: 0px;
}

.stackedbarchart_text {
  position: absolute;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 270px;
  border-radius: 8px;
  right: 55%;
}

/* Index
Colormappings */
img {
  height: 200px;
  object-fit: contain;
}

.colormap_box {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work {
  border-radius: 20px;
  overflow: hidden;
}

.colormap_text {
  background-color: rgba(255, 248, 220);
  font-family: "Quosm-Bold";
  width: 100%;
  padding: 30px;
  text-align: center;
  align-items: center;
}

.colormap_1 {
  position: absolute;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  line-height: 330px;
  /* margin-left: -300px; */
}

.colormap_2 {
  position: absolute;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  border-radius: 8px;
  /* margin-left: -300px;
  margin-top: 250px; */
}

.vincent_to_colormap {
  width: 100%;
  height: 15px;
  position: absolute;
  margin-bottom: 40px;
}

/* Index
Frames */
.frame {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.colorframe {
  display: block;
  width: 40px;
  margin: 5px;
  height: 75vh;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.colorframe > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: cornsilk;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  transition: opacity 500ms;
  opacity: 0;
  margin: 0;
}

.colorframe:hover > a {
  opacity: 1;
}

.colorframe_title {
  font-size: 12;
  font-weight: bold;
  margin-top: 2em;
  transform: rotate(-90deg) translate(50%, 0);
  color: white;
  width: 900px;
  top: 90%;
  position: relative;
}
